<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<table>
	<tr>
		<th>Pokemon</th>
		<th>Level</th>
		<th>Health</th>
	</tr>
	<% @trainer.pokemons.each do |f| %>
		<% if @trainer.id == current_trainer.id || @pokemon.health != 0 %>
			<tr>
				<td><%= f.name %></td>
				<td><%= f.level %></td>
				<td><%= f.health %></td>
				<td><%= button_to "Damage!", damage_path(pokemon_id: f.id, trainer_id: @trainer.id), :class => "button medium", :method => :patch %></td>
				<% if @trainer.id == current_trainer.id %>
					<td><%= button_to "Heal!", heal_path(pokemon_id: f.id, trainer_id: @trainer.id), :class => "button medium", :method => :patch %></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>
<% if @trainer.id == current_trainer.id %>
	<%= button_to "Create your own Pokemon!", new_pokemons_path(id: current_trainer.id), :class => "button medium", :method => :get %>
	<!-- directs to /trainer/:id/new -->
<% end %>
