<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<% if @trainer == current_trainer %>
	<%= link_to "Create a New Pokemon", new_pokemon_path %>
	<br />
<% end %>

<% if @trainer.name %>
	<b> <%= @trainer.name %>'s Pokemon </b>
	<br />
<% end %>
<% @trainer.pokemons.each do |pokemon| %>
	<%= pokemon.name %>, Level: <%= pokemon.level %>, Health: <%= pokemon.health %>
	<%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %>
	<br />
<% end %>
