<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<table>
	<tr>
		<th>Pokemon</th>
		<th>Level</th>
		<th>Health</th>
	</tr>
	<% @trainer.pokemons.each do |f| %>
		<tr>
			<td><%= f.name %></td>
			<td><%= f.level %></td>
			<td><%= f.health %></td>
		</tr>
	<% end %>
</table>